//- error.pug :  
//- for displaying a user friendly error message.
extends layout.pug

block content

	h1.error-style= error.message
	h2.error-style= error.status + " status"
	pre#error-stack-style= error.stack

	a(href='/') â† Back to Home
