//- layout.pug : 
//- for the boilerplate markup that should be on every page.
html(class="no-js" lang="en" dir="ltr")
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/static/stylesheets/style.css', rel='stylesheet')
        title Library Manager

    header.navigation
            nav.wrapper
                h1#nav-title Library Manager App
                h3#nav-db SQLite3

    body.wrapper.pad-top
        
block content