//- page-not-found.pug :
//- for displaying a user friendly “Page Not Found”
//- message.
extends layout.pug
block content

		h1 Gadzooks!
		h3 Your search yielded zero results!
		br
		
		a(href='/') ← Back to Home