//- page-not-found.pug :
//- for displaying a user friendly “Page Not Found”
//- message.
extends layout.pug
block content
if errors
	h1 Page Not Found
	p Sorry! We couldn't find the page you were looking for.
	br
	
	a(href='/') ← Back to Home