body {
  /* padding: 10px 50px 50px; */
  font: 18px "Garamond", serif;
}
/* Custom Styling */
.navigation {
  z-index: 20;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #019875;
  color: white; 
  border-bottom: #D8B493 solid 5px;
}
#nav-title{
  display: inline-block;
  float: left;
}
#nav-db {
  display: inline-block;
  float: right;
}

.wrapper {
  margin: auto;
  width: 80%;
}
.pad-top{
  padding-top: 5em;  
}
.error-style  {
  text-align: center;
}
#new-book-btn {
  display: inline-block;
  float: left;
}
#searchbar {
  display: inline-block;
  float: right;
  z-index: 1;
}
#searchbutton {
  display: inline-block;
  float: right;
  z-index: 1;
  margin: 0;
}
.update-error-style {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: red;
  background-color: rgb(255, 218, 218);
  border: red solid 2px;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  width: 300px;
  margin: .5em 0;
  font-weight: 400;
}
li.update-error-style:first-child {
  margin-top: 0;
}
.update-error-style:last-child {
  margin-bottom: 0;
}
#error-stack-style {
  font-size: 14px; 
  overflow: scroll;
  height: 60%;
  border: rgb(196, 196, 196) solid 2px;
}
#req-style {
  font-size: 18px;
  margin-top: -10px;
}
.pagination {
  text-align: center;
}
.pagelink-style {
  display: inline-block;
  padding: 0 10px;
  border: 1px #D8B493 solid;
  margin: 0 5px;
}
.pagelink-style:hover {
  background-color: #D8B493;
  border-color: black;
}

.pagelink-style:first-child {
  padding-right: 0 10px 0 0 ;
}
.pagelink-style:last-child {
  padding-left: 0 10px 0 0;
}


/* End Custom Styling */
a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

table {
  width: 100%;
}
tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}
